﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="/js/cart.js"></script>
    <script>
        var cartController = new CartController();
        cartController.initialize();
    </script>
}

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="~/">Trang chủ</a></li>
                        <li>Giỏ hàng</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.page-header-->
<!-- cart-section -->
<div class="container">
    <div class="cart-content mt30 mb30">
        <div class="title-header mb20">
            <h2 class="title"><strong>Giỏ Hàng</strong></h2>
        </div>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th></th>
                    <th scope ="col">Sản phẩm</th>
                    <th scope="col">Đơn giá</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Thành tiền</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="cart_body">
            </tbody>  
        </table>
        <div class="prices-summary">
            <div class="left-content">
                <a href="/danh-muc/" class="derection-product text-blue">
                    <i class="fas fa-long-arrow-alt-left"></i> Tiếp tục
                    mua hàng
                </a>
            </div>
            <div class="right-con">
                <div class="total-receipt">
                    <div class="promotion-code pinside20">
                        <input type="text" class="input-code" id="discount-code" placeholder="Nhập mã ưu đãi">
                        <button type="submit" class="submit-code btn-default" id="apply-code">Áp dụng</button>
                    </div>
                    <ul class="prices pinside20">
                        <li class="prices-item">
                            <span class="prices-text">Tạm tính</span>
                            <span class="prices-value"><span id="lbl_total"></span></span>
                        </li>
                        <li class="prices-item">
                            <span class="prices-text">Giảm giá</span>
                            <span class="prices-value"><span id="lbl_discount_amount"></span>
                        </li>
                    </ul>
                    <div class="prices-total pinside20">
                        <span class="price-text">Tổng cộng</span>
                        <span class="prices-value"><span id="lbl_total_discounted"></span>
                    </div>
                </div>
                <a href="/Cart/Checkout" class="btn-default btn-checkout">Mua Hàng</a>
            </div>
        </div>
    </div>
</div>